<?xml version="1.0"?>
    <robot name="robotiq" xmlns:xacro="http://wiki.ros.org/xacro">

        <!-- common stuff -->
        <xacro:include filename="$(find ur3_description)/urdf/common.gazebo.xacro" /> 

        <xacro:include filename="$(find robotiq_2f_85_gripper_description)/urdf/robotiq_2f_85.urdf.xacro"/>
        <link name="world"/>
        <xacro:robotiq_2f_85 name="gripper" parent="world" precise_collision="false" adaptive_transmission="false">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:robotiq_2f_85>
    </robot>
