<?xml version="1.0"?>
<launch>
  <include file="$(find vistar_description)/launch/vistar_upload.launch">
    <arg name="with_sensor" value="true"/>
    <arg name="with_camera" value="true"/>
  </include>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    <param name="use_gui" value="true"/>
  </node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find vistar_description)/cfg/view_vistar.rviz" required="true" />
</launch>
